

services:
  churn-dashboard:
    build:
      context: .
      dockerfile: app/Dockerfile
    container_name: churn_app
    ports:
      - "8501:8501"
    volumes:
      - ./models:/app/models
      - ./data:/app/data
      - ./reports:/app/reports
    restart: unless-stopped
