name: CI-CD Pipeline for Churn Prediction

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  workflow_dispatch:

jobs:
  train-and-evaluate:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run preprocessing
        run: python src/data_preprocessing.py

      - name: Train model
        run: python src/train_model.py

      - name: Evaluate model
        run: python src/evaluate.py

      - name: Upload Model Artifact
        uses: actions/upload-artifact@v4
        with:
          name: trained-model
          path: models/model.pkl

      - name: Upload Metrics Artifact
        uses: actions/upload-artifact@v4
        with:
          name: evaluation-metrics
          path: models/metrics.json

  build-streamlit-image:
    runs-on: ubuntu-latest
    needs: train-and-evaluate

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build Streamlit Docker Image
        run: |
          docker build -f app/Dockerfile -t churn-streamlit .

      - name: Save Docker Image as Artifact
        run: docker save churn-streamlit -o churn-streamlit.tar

      - name: Upload Streamlit Image
        uses: actions/upload-artifact@v4
        with:
          name: streamlit-docker-image
          path: churn-streamlit.tar
